## -*- coding: utf-8 -*-
<%inherit file="index.tmpl"/>
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl" import="*"/>

<%block name="content_header">
</%block>

<%block name="extra_head">
    ${parent.extra_head()}
    ${feeds_translations.head(tag, kind, rss_override=False)}
</%block>
